APScheduler==3.9.1
asgiref==3.5.2
autopep8==1.7.0
cffi==1.15.1
cryptography==38.0.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.2
django-cors-headers==3.13.0
django-filter==22.1
djangorestframework==3.14.0
filelock==3.8.0
gunicorn==20.1.0
Markdown==3.4.1
platformdirs==2.5.2
psycopg2==2.9.5
pycodestyle==2.9.1
pycparser==2.21
PyJWT==2.5.0
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.5
tzlocal==4.2
virtualenv==20.16.5
whitenoise==6.2.0
mysqlclient==2.1.1
requests
bs4
pandas==2.0.1
matplotlib==3.7.1
numpy
scikit-learn
ipykernel==6.22.0
joblib